<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- CDNJS :: Vue (https://cdnjs.com/) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>

  <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.js"></script>

  <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.js"></script>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>

<body>
  <div id="main">
    <!-- <div class="pastebox" id="app" contenteditable='true' v-on:paste="onPaste">Paste some text here</div> -->
    <div class="main" v-on:paste="onPaste">
      <div class="left" id='leftDiv' contenteditable='false'>
        <draggable v-model="list" class="dragArea" :options="{group:'people'}">
          <div class="paragraph" v-for="element in list">{{element.text}}</div>
        </draggable>
      </div>
      <div class="right" id='rightDiv' contenteditable='false'>
        <draggable v-model="resultList" class="dragArea" :options="{group:'people'}" @change="onChange">
          <div class='paragraph' v-bind:color=element.color v-for="element in resultList">{{element.text}}</div>
        </draggable>
      </div>
    </div>
  </div>
</body>
<script>
  window.onload = function () {
    var vm = new Vue({
      el: "#main",
      data: {
        list: [],
        resultList: []
      },
      methods: {
        onChange: function(evt) {
          console.log(evt);
          var maxOrder = -1;
          for(var i = 0; i < this.resultList.length; i ++) {
            if( this.resultList[i].order < maxOrder) {
              // Vue 不允许在已经创建的实例上动态添加新的根级响应式属性 (root-level reactive property)。
              // 然而它可以使用 Vue.set(object, key, value) 方法将响应属性添加到嵌套的对象上：
              Vue.set(vm.resultList[i], 'color', "error");
              // this.resultList[i]["color"] = "error"; //错误
              console.log(this.resultList[i]["color"]);
            } else {
              Vue.set(vm.resultList[i], 'color', "correct");
              // this.resultList[i]["color"] = "correct";
              maxOrder = this.resultList[i].order;
              console.log(this.resultList[i]["color"]);
            }
          } 
        },
        reset: function () {
          // sort by order
          vm.list.sort(function byOrder(a, b) {
            return a.order - b.order;
          });
        },
        onPaste: function (e) {
          var clipboardData, pastedData;
          // Stop data actually being pasted into div
          e.stopPropagation();
          e.preventDefault();
          // Get pasted data via clipboard API
          clipboardData = e.clipboardData || window.clipboardData;
          pastedData = clipboardData.getData('text/plain');
          // htmlData = clipboardData.getData('text/html');
          texts = pastedData.split(/\r\n|\r|\n/);
          // leftDiv.innerHTML = "";
          this.list = [];
          this.resultList = [];
          texts.forEach(function (item, index) {
            if (item.trim() != "") {
              vm.list.push({
                order: index,
                text: item}
              );
            }
          });
          this.list.sort(function (a, b){
            return Math.floor(Math.random() * 100) - 50;
          });
        }
      }
    });
  }
</script>

</html>
